.modal-call{
  position: fixed;
  top: 0;
  right: 0px;
  width: 288px;
  height: 100%;
  background-color: white;
  padding: 16px;

  z-index: 1001;

  transition: .4s ease-in;
}

.modal-call--hidden{
  right: -322px;


}

.button.button__close-call{
  margin-left: 0;
  // margin-bottom: 40px;
}

@media (min-width:1440px){
  .modal-call{
    width:376px ;
    padding: 0 32px;
  }
  .modal-call--hidden{
    right: -515px;
    
  }
  .button.button__close-call{
    position: absolute;
    left: -73px;
    top: 37px;
  }

}