.page_footer{
  padding: 0 24px;

}
.footer-text{
  display: block;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: $font-regular;
  color:$text-color;
  margin-bottom: 16px;
}

.footer-link{
  cursor: pointer;
  position: relative;
  font-weight: $font-medium;
  font-size: 16px;
  text-decoration: none;
  color: $text-color;
  &::after{
    content: "";
    display: block;
    position: absolute;
    top: 24px;
    right: 148px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-top: 2px solid $light-red;
    border-right: 2px solid $light-red;

    transform: rotate(45deg);

    
  }
}

.footer_content{
  display: flex;
  flex-direction: column;

  margin-bottom: 80px;
}
.footer_copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

  padding-bottom: 40px;
}
.copyright-item{
  text-align: center;
  width: 218px;
}
.copyright-link{
  text-decoration: none;
}
.copyright-text{
  
  font-weight: $font-regular;
  font-size: 14px;
  line-height: 16px;
  color:#7E7E82;
}

@media (min-width:768px){
  .footer_content{
    width: 421px;
  }

  .footer-link{

    &::after{
      top:6px;
      right: 102px;
    }
  }
  .footer_copyright{
    flex-direction: row;
  }
  .copyright-item{
    text-align:start;
  }

}