$main-color:#F8F8F8;
$light-red:#FF3E79;
$light-blue:#D9FFF5;
$blue:#41F6D7;
$text-color:#1B1C21;
$light-text-color:#7E7E82;
$main-gray:#B5B6BC;
$font-family: 'TT Lakes', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$shadow:16px 0px 52px 0px #0E185033;
